In [1]:
# Python-Programming Tutorial 
# By Sunil Prasath & Kavin
# Fundamentals Part 1
# Python Notebook Version

import os
import sys

In [ ]:
# Basic Syntax 

#Variables: They can store data of different types (implicitly assigned type but can be manipulated explicitly too)

# Text Type: 	str
# Numeric Types: 	int, float, complex
# Sequence Types: 	list, tuple, range
# Mapping Type: 	dict
# Set Types: 	set, frozenset
# Boolean Type: 	bool
# Binary Types: 	bytes, bytearray, memoryview

#Implicit Conversion within the variable declaration example

x = "Hello World" 	#string	
x = 10 	#int 
x = 10.5 	#float 	
x = 1j	#complex 	
x = ["apple", "banana", "cherry"] 	#list 	
x = ("apple", "banana", "cherry") 	#tuple 	
x = range(6) 	#range 	
x = {"name" : "John", "age" : 36} 	#dict 	
x = {"apple", "banana", "cherry"} 	#set